<ion-view view-title="Messages">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="What are you doing..." ng-model="newMessage.message">
            </label>
            <div align="center">
            <button ng-click="enviarMensaje()" class="button button-bar-calm">Send</button>
            </div>
        </div>

        <div ng-repeat="msg in messages | orderBy: 'Date':true" >
            <div class="list card stable-bg">
                <div class="item item-avatar">
                    <img ng-src={{msg.username.imageUrl}}>
                    <h2>{{msg.username.username}}</h2>
                    <p>{{msg.username.mail}}</p>
                </div>

                <div class="item item-body">
                    <div ng-if="msg.youtube" class="video-container">
                        <iframe src={{msg.video}} frameborder="0" allowfullscreen></iframe>
                    </div>
                    {{msg.text2}}
                    <p>
                        <a class="subdued">{{msg.like}} Likes </a>
                        <a class="subdued" ng-click="showcomments(msg.comment.length, msg._id)" >{{msg.comment.length}} Comments </a>
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup" ng-click="likeMenssage(msg._id)"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox" ng-click="openModal(msg._id)"></i> Comment
                    </a>
                    <a  ng-if="usuar.userid==msg.username._id"class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-close-circled"  ng-click="borrarMensaje(msg._id)"></i> Delete
                    </a>
                </div>
            </div>
        </div>
        <ion-infinite-scroll distance="10%"
                             on-infinite="mas()"
                             ng-if="nomore"
        ></ion-infinite-scroll>
    </ion-content>
    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view class="ion-nifty-modal">
            <div class="ion-modal-content-custom">
                <ion-content class="padding">
                    <label style="font-size: 12pt;font-weight: normal;color: white;" class="item item-input">Comment...
                        <br>
                        <input type="text" ng-model="Newcomment.text" style="font-size: 12pt;font-weight: normal;color: white;">
                    </label>
                    <br>
                    <br>
                    <br>
                    <button class="button button-full button-positive" ng-click="postcomment()">Post Comment</button>
                    <button class="button button-full button-bar-energized" ng-click="Cancel()">Cancel</button>
                </ion-content>
            </div>
        </ion-modal-view>
    </script>
    <script id="popup-template.html" type="text/ng-template">
        <input ng-model="Newcomment.text" type="text" placeholder="Comment">
    </script>
</ion-view>
