<ion-view view-title="Search by:">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-item>
            <div align="center">
                <button ng-click="mylocation()" class="button button-full button-assertive-900">Your location</button>
            </div>
        </ion-item>
        <label class="item item-input">
            <span class="input-label">OR</span>
            <input id="search" type="text" ng-model="event.name">
        </label>
        <label class="item item-input">
            <span class="input-label">Distance in Km: </span>
            <input type="number" name="date" ng-model="show.km">
        </label>
        <ion-item>
            <div align="center">
                <button ng-click="search()" class="button button-full button-energized">Search <i class="ion-search"></i></button>
            </div>
        </ion-item>
        <div id="mapa" data-tap-disabled="true" style="height: 53%;width: 100%"></div>
    </ion-content>
</ion-view>